@model QuestPondApp.Models.Customer




<html>
<head>

</head>

    <body>
        <div>
            Customer Code:-@Model.CustomerCode<br>
            Customer Name:-@Model.CustomerName
        </div>
    </body>

</html>